/*
 * Delphix DCT API
 * Delphix DCT API
 *
 * The version of the OpenAPI document: 3.9.0
 * Contact: support@delphix.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.delphix.dct.api;

import com.delphix.dct.ApiCallback;
import com.delphix.dct.ApiClient;
import com.delphix.dct.ApiException;
import com.delphix.dct.ApiResponse;
import com.delphix.dct.Configuration;
import com.delphix.dct.Pair;
import com.delphix.dct.ProgressRequestBody;
import com.delphix.dct.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.delphix.dct.models.ApiUsageReportResponse;
import com.delphix.dct.models.AuditLogsSummaryReportResponse;
import com.delphix.dct.models.DeleteTag;
import com.delphix.dct.models.EnginePerformanceAnalyticReportResponse;
import com.delphix.dct.models.EnginePerformanceAnalyticTrendResponse;
import com.delphix.dct.models.GetEngineGlobalObjectStateReportResponse;
import com.delphix.dct.models.ListReportingScheduleResponse;
import com.delphix.dct.models.MaskingExecutionMetricsReportResponse;
import org.threeten.bp.OffsetDateTime;
import com.delphix.dct.models.ProductInfo;
import com.delphix.dct.models.ReportingSchedule;
import com.delphix.dct.models.ReportingScheduleCreateParameters;
import com.delphix.dct.models.SearchBody;
import com.delphix.dct.models.SearchEngineGlobalObjectStateReportResponse;
import com.delphix.dct.models.SearchReportingScheduleResponse;
import com.delphix.dct.models.TagsRequest;
import com.delphix.dct.models.TagsResponse;
import com.delphix.dct.models.VirtualizationStorageSummaryReportResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ReportingApi {
    private ApiClient localVarApiClient;

    public ReportingApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ReportingApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createReportingSchedule
     * @param reportingScheduleCreateParameters The parameters to create a reporting schedule. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the newly created schedule for a report. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReportingScheduleCall(ReportingScheduleCreateParameters reportingScheduleCreateParameters, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = reportingScheduleCreateParameters;

        // create path and map variables
        String localVarPath = "/reporting/schedule";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createReportingScheduleValidateBeforeCall(ReportingScheduleCreateParameters reportingScheduleCreateParameters, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportingScheduleCreateParameters' is set
        if (reportingScheduleCreateParameters == null) {
            throw new ApiException("Missing the required parameter 'reportingScheduleCreateParameters' when calling createReportingSchedule(Async)");
        }
        

        okhttp3.Call localVarCall = createReportingScheduleCall(reportingScheduleCreateParameters, _callback);
        return localVarCall;

    }

    /**
     * Create a new report schedule.
     * 
     * @param reportingScheduleCreateParameters The parameters to create a reporting schedule. (required)
     * @return ReportingSchedule
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the newly created schedule for a report. </td><td>  -  </td></tr>
     </table>
     */
    public ReportingSchedule createReportingSchedule(ReportingScheduleCreateParameters reportingScheduleCreateParameters) throws ApiException {
        ApiResponse<ReportingSchedule> localVarResp = createReportingScheduleWithHttpInfo(reportingScheduleCreateParameters);
        return localVarResp.getData();
    }

    /**
     * Create a new report schedule.
     * 
     * @param reportingScheduleCreateParameters The parameters to create a reporting schedule. (required)
     * @return ApiResponse&lt;ReportingSchedule&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the newly created schedule for a report. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ReportingSchedule> createReportingScheduleWithHttpInfo(ReportingScheduleCreateParameters reportingScheduleCreateParameters) throws ApiException {
        okhttp3.Call localVarCall = createReportingScheduleValidateBeforeCall(reportingScheduleCreateParameters, null);
        Type localVarReturnType = new TypeToken<ReportingSchedule>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create a new report schedule. (asynchronously)
     * 
     * @param reportingScheduleCreateParameters The parameters to create a reporting schedule. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the newly created schedule for a report. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReportingScheduleAsync(ReportingScheduleCreateParameters reportingScheduleCreateParameters, final ApiCallback<ReportingSchedule> _callback) throws ApiException {

        okhttp3.Call localVarCall = createReportingScheduleValidateBeforeCall(reportingScheduleCreateParameters, _callback);
        Type localVarReturnType = new TypeToken<ReportingSchedule>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for createReportingScheduleTags
     * @param reportId The ID of the report schedule. (required)
     * @param tagsRequest Tags information for report schedule. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReportingScheduleTagsCall(Integer reportId, TagsRequest tagsRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = tagsRequest;

        // create path and map variables
        String localVarPath = "/reporting/schedule/{reportId}/tags"
            .replaceAll("\\{" + "reportId" + "\\}", localVarApiClient.escapeString(reportId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createReportingScheduleTagsValidateBeforeCall(Integer reportId, TagsRequest tagsRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportId' is set
        if (reportId == null) {
            throw new ApiException("Missing the required parameter 'reportId' when calling createReportingScheduleTags(Async)");
        }
        
        // verify the required parameter 'tagsRequest' is set
        if (tagsRequest == null) {
            throw new ApiException("Missing the required parameter 'tagsRequest' when calling createReportingScheduleTags(Async)");
        }
        

        okhttp3.Call localVarCall = createReportingScheduleTagsCall(reportId, tagsRequest, _callback);
        return localVarCall;

    }

    /**
     * Create tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param tagsRequest Tags information for report schedule. (required)
     * @return TagsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
     </table>
     */
    public TagsResponse createReportingScheduleTags(Integer reportId, TagsRequest tagsRequest) throws ApiException {
        ApiResponse<TagsResponse> localVarResp = createReportingScheduleTagsWithHttpInfo(reportId, tagsRequest);
        return localVarResp.getData();
    }

    /**
     * Create tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param tagsRequest Tags information for report schedule. (required)
     * @return ApiResponse&lt;TagsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TagsResponse> createReportingScheduleTagsWithHttpInfo(Integer reportId, TagsRequest tagsRequest) throws ApiException {
        okhttp3.Call localVarCall = createReportingScheduleTagsValidateBeforeCall(reportId, tagsRequest, null);
        Type localVarReturnType = new TypeToken<TagsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Create tags for a report schedule. (asynchronously)
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param tagsRequest Tags information for report schedule. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Created </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createReportingScheduleTagsAsync(Integer reportId, TagsRequest tagsRequest, final ApiCallback<TagsResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = createReportingScheduleTagsValidateBeforeCall(reportId, tagsRequest, _callback);
        Type localVarReturnType = new TypeToken<TagsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for deleteReportingSchedule
     * @param reportId The ID of the report schedule. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteReportingScheduleCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/schedule/{reportId}"
            .replaceAll("\\{" + "reportId" + "\\}", localVarApiClient.escapeString(reportId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteReportingScheduleValidateBeforeCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportId' is set
        if (reportId == null) {
            throw new ApiException("Missing the required parameter 'reportId' when calling deleteReportingSchedule(Async)");
        }
        

        okhttp3.Call localVarCall = deleteReportingScheduleCall(reportId, _callback);
        return localVarCall;

    }

    /**
     * Delete report schedule by ID.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public void deleteReportingSchedule(Integer reportId) throws ApiException {
        deleteReportingScheduleWithHttpInfo(reportId);
    }

    /**
     * Delete report schedule by ID.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> deleteReportingScheduleWithHttpInfo(Integer reportId) throws ApiException {
        okhttp3.Call localVarCall = deleteReportingScheduleValidateBeforeCall(reportId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Delete report schedule by ID. (asynchronously)
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteReportingScheduleAsync(Integer reportId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteReportingScheduleValidateBeforeCall(reportId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for deleteReportingScheduleTag
     * @param reportId The ID of the report schedule. (required)
     * @param deleteTag The parameters to delete tags (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteReportingScheduleTagCall(Integer reportId, DeleteTag deleteTag, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = deleteTag;

        // create path and map variables
        String localVarPath = "/reporting/schedule/{reportId}/tags/delete"
            .replaceAll("\\{" + "reportId" + "\\}", localVarApiClient.escapeString(reportId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call deleteReportingScheduleTagValidateBeforeCall(Integer reportId, DeleteTag deleteTag, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportId' is set
        if (reportId == null) {
            throw new ApiException("Missing the required parameter 'reportId' when calling deleteReportingScheduleTag(Async)");
        }
        

        okhttp3.Call localVarCall = deleteReportingScheduleTagCall(reportId, deleteTag, _callback);
        return localVarCall;

    }

    /**
     * Delete tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param deleteTag The parameters to delete tags (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public void deleteReportingScheduleTag(Integer reportId, DeleteTag deleteTag) throws ApiException {
        deleteReportingScheduleTagWithHttpInfo(reportId, deleteTag);
    }

    /**
     * Delete tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param deleteTag The parameters to delete tags (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> deleteReportingScheduleTagWithHttpInfo(Integer reportId, DeleteTag deleteTag) throws ApiException {
        okhttp3.Call localVarCall = deleteReportingScheduleTagValidateBeforeCall(reportId, deleteTag, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Delete tags for a report schedule. (asynchronously)
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param deleteTag The parameters to delete tags (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> No Content </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call deleteReportingScheduleTagAsync(Integer reportId, DeleteTag deleteTag, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = deleteReportingScheduleTagValidateBeforeCall(reportId, deleteTag, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for getApiUsageReport
     * @param startDate Report start date/time. Defaults to first API request. (optional)
     * @param endDate Report end date/time. Defaults to current time. (optional)
     * @param apiMetricKind Restrict the list to API usage metric of the given kind (optional)
     * @param groupBy The field to group results by. (optional)
     * @param clientName The Client names to be included in the report. (optional)
     * @param userAgent The UserAgent names to be included in the report. (optional)
     * @param dctVersion The DCT versions to be included in the report. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of API usage metrics. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getApiUsageReportCall(OffsetDateTime startDate, OffsetDateTime endDate, String apiMetricKind, List<String> groupBy, List<String> clientName, List<String> userAgent, List<String> dctVersion, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/api-usage-report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (startDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_date", startDate));
        }

        if (endDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_date", endDate));
        }

        if (apiMetricKind != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("api_metric_kind", apiMetricKind));
        }

        if (groupBy != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "group_by", groupBy));
        }

        if (clientName != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "client_name", clientName));
        }

        if (userAgent != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "user_agent", userAgent));
        }

        if (dctVersion != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "dct_version", dctVersion));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getApiUsageReportValidateBeforeCall(OffsetDateTime startDate, OffsetDateTime endDate, String apiMetricKind, List<String> groupBy, List<String> clientName, List<String> userAgent, List<String> dctVersion, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getApiUsageReportCall(startDate, endDate, apiMetricKind, groupBy, clientName, userAgent, dctVersion, _callback);
        return localVarCall;

    }

    /**
     * Gets the report of API usage metrics over a given time period. This API returns at the most 10000 results in the response to protect against the server running out of memory. Users might not hit this limit with the default report without any &#39;apiUsageReportGroupByParam&#39; param but can hit this limit if the groupBy is by too granular like by &#39;client_name&#39; or &#39;user_agent&#39; only. Hence it is advisable to use startDate and endDate to &#39;limit&#39; the scope of the report.
     * 
     * @param startDate Report start date/time. Defaults to first API request. (optional)
     * @param endDate Report end date/time. Defaults to current time. (optional)
     * @param apiMetricKind Restrict the list to API usage metric of the given kind (optional)
     * @param groupBy The field to group results by. (optional)
     * @param clientName The Client names to be included in the report. (optional)
     * @param userAgent The UserAgent names to be included in the report. (optional)
     * @param dctVersion The DCT versions to be included in the report. (optional)
     * @return ApiUsageReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of API usage metrics. </td><td>  -  </td></tr>
     </table>
     */
    public ApiUsageReportResponse getApiUsageReport(OffsetDateTime startDate, OffsetDateTime endDate, String apiMetricKind, List<String> groupBy, List<String> clientName, List<String> userAgent, List<String> dctVersion) throws ApiException {
        ApiResponse<ApiUsageReportResponse> localVarResp = getApiUsageReportWithHttpInfo(startDate, endDate, apiMetricKind, groupBy, clientName, userAgent, dctVersion);
        return localVarResp.getData();
    }

    /**
     * Gets the report of API usage metrics over a given time period. This API returns at the most 10000 results in the response to protect against the server running out of memory. Users might not hit this limit with the default report without any &#39;apiUsageReportGroupByParam&#39; param but can hit this limit if the groupBy is by too granular like by &#39;client_name&#39; or &#39;user_agent&#39; only. Hence it is advisable to use startDate and endDate to &#39;limit&#39; the scope of the report.
     * 
     * @param startDate Report start date/time. Defaults to first API request. (optional)
     * @param endDate Report end date/time. Defaults to current time. (optional)
     * @param apiMetricKind Restrict the list to API usage metric of the given kind (optional)
     * @param groupBy The field to group results by. (optional)
     * @param clientName The Client names to be included in the report. (optional)
     * @param userAgent The UserAgent names to be included in the report. (optional)
     * @param dctVersion The DCT versions to be included in the report. (optional)
     * @return ApiResponse&lt;ApiUsageReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of API usage metrics. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ApiUsageReportResponse> getApiUsageReportWithHttpInfo(OffsetDateTime startDate, OffsetDateTime endDate, String apiMetricKind, List<String> groupBy, List<String> clientName, List<String> userAgent, List<String> dctVersion) throws ApiException {
        okhttp3.Call localVarCall = getApiUsageReportValidateBeforeCall(startDate, endDate, apiMetricKind, groupBy, clientName, userAgent, dctVersion, null);
        Type localVarReturnType = new TypeToken<ApiUsageReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets the report of API usage metrics over a given time period. This API returns at the most 10000 results in the response to protect against the server running out of memory. Users might not hit this limit with the default report without any &#39;apiUsageReportGroupByParam&#39; param but can hit this limit if the groupBy is by too granular like by &#39;client_name&#39; or &#39;user_agent&#39; only. Hence it is advisable to use startDate and endDate to &#39;limit&#39; the scope of the report. (asynchronously)
     * 
     * @param startDate Report start date/time. Defaults to first API request. (optional)
     * @param endDate Report end date/time. Defaults to current time. (optional)
     * @param apiMetricKind Restrict the list to API usage metric of the given kind (optional)
     * @param groupBy The field to group results by. (optional)
     * @param clientName The Client names to be included in the report. (optional)
     * @param userAgent The UserAgent names to be included in the report. (optional)
     * @param dctVersion The DCT versions to be included in the report. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of API usage metrics. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getApiUsageReportAsync(OffsetDateTime startDate, OffsetDateTime endDate, String apiMetricKind, List<String> groupBy, List<String> clientName, List<String> userAgent, List<String> dctVersion, final ApiCallback<ApiUsageReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getApiUsageReportValidateBeforeCall(startDate, endDate, apiMetricKind, groupBy, clientName, userAgent, dctVersion, _callback);
        Type localVarReturnType = new TypeToken<ApiUsageReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getAuditLogsSummaryReport
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of aggregated audit log entries for each account. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAuditLogsSummaryReportCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/audit-logs-summary-report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getAuditLogsSummaryReportValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getAuditLogsSummaryReportCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * Gets the audit log summary report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return AuditLogsSummaryReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of aggregated audit log entries for each account. </td><td>  -  </td></tr>
     </table>
     */
    public AuditLogsSummaryReportResponse getAuditLogsSummaryReport(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<AuditLogsSummaryReportResponse> localVarResp = getAuditLogsSummaryReportWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * Gets the audit log summary report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ApiResponse&lt;AuditLogsSummaryReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of aggregated audit log entries for each account. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<AuditLogsSummaryReportResponse> getAuditLogsSummaryReportWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getAuditLogsSummaryReportValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<AuditLogsSummaryReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets the audit log summary report. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of aggregated audit log entries for each account. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getAuditLogsSummaryReportAsync(Integer limit, String cursor, String sort, final ApiCallback<AuditLogsSummaryReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getAuditLogsSummaryReportValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<AuditLogsSummaryReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getEngineGlobalObjectStateReport
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of GlobalObjectState data. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getEngineGlobalObjectStateReportCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/engine-global-object-state-report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getEngineGlobalObjectStateReportValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getEngineGlobalObjectStateReportCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * Get the masking engine global object state report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return GetEngineGlobalObjectStateReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of GlobalObjectState data. </td><td>  -  </td></tr>
     </table>
     */
    public GetEngineGlobalObjectStateReportResponse getEngineGlobalObjectStateReport(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<GetEngineGlobalObjectStateReportResponse> localVarResp = getEngineGlobalObjectStateReportWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * Get the masking engine global object state report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ApiResponse&lt;GetEngineGlobalObjectStateReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of GlobalObjectState data. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetEngineGlobalObjectStateReportResponse> getEngineGlobalObjectStateReportWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getEngineGlobalObjectStateReportValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<GetEngineGlobalObjectStateReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the masking engine global object state report. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of GlobalObjectState data. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getEngineGlobalObjectStateReportAsync(Integer limit, String cursor, String sort, final ApiCallback<GetEngineGlobalObjectStateReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getEngineGlobalObjectStateReportValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<GetEngineGlobalObjectStateReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getEnginePerformanceAnalyticsReport
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of performance analytics data of engines. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getEnginePerformanceAnalyticsReportCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/engine-performance-analytic-report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getEnginePerformanceAnalyticsReportValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getEnginePerformanceAnalyticsReportCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * Gets the performance analytics report for engines.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return EnginePerformanceAnalyticReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of performance analytics data of engines. </td><td>  -  </td></tr>
     </table>
     */
    public EnginePerformanceAnalyticReportResponse getEnginePerformanceAnalyticsReport(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<EnginePerformanceAnalyticReportResponse> localVarResp = getEnginePerformanceAnalyticsReportWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * Gets the performance analytics report for engines.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ApiResponse&lt;EnginePerformanceAnalyticReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of performance analytics data of engines. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<EnginePerformanceAnalyticReportResponse> getEnginePerformanceAnalyticsReportWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getEnginePerformanceAnalyticsReportValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<EnginePerformanceAnalyticReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets the performance analytics report for engines. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of performance analytics data of engines. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getEnginePerformanceAnalyticsReportAsync(Integer limit, String cursor, String sort, final ApiCallback<EnginePerformanceAnalyticReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getEnginePerformanceAnalyticsReportValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<EnginePerformanceAnalyticReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getMaskingExecutionMetricsReport
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies a descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of Masking execution metrics. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMaskingExecutionMetricsReportCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/masking-execution-metrics";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getMaskingExecutionMetricsReportValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getMaskingExecutionMetricsReportCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * Get the masking execution metrics report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies a descending order. (optional)
     * @return MaskingExecutionMetricsReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of Masking execution metrics. </td><td>  -  </td></tr>
     </table>
     */
    public MaskingExecutionMetricsReportResponse getMaskingExecutionMetricsReport(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<MaskingExecutionMetricsReportResponse> localVarResp = getMaskingExecutionMetricsReportWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * Get the masking execution metrics report.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies a descending order. (optional)
     * @return ApiResponse&lt;MaskingExecutionMetricsReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of Masking execution metrics. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<MaskingExecutionMetricsReportResponse> getMaskingExecutionMetricsReportWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getMaskingExecutionMetricsReportValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<MaskingExecutionMetricsReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the masking execution metrics report. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies a descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of Masking execution metrics. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMaskingExecutionMetricsReportAsync(Integer limit, String cursor, String sort, final ApiCallback<MaskingExecutionMetricsReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getMaskingExecutionMetricsReportValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<MaskingExecutionMetricsReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getProductInfo
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getProductInfoCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/product_info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getProductInfoValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getProductInfoCall(_callback);
        return localVarCall;

    }

    /**
     * Returns the DCT Product Information.
     * 
     * @return ProductInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ProductInfo getProductInfo() throws ApiException {
        ApiResponse<ProductInfo> localVarResp = getProductInfoWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Returns the DCT Product Information.
     * 
     * @return ApiResponse&lt;ProductInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ProductInfo> getProductInfoWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getProductInfoValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<ProductInfo>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Returns the DCT Product Information. (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getProductInfoAsync(final ApiCallback<ProductInfo> _callback) throws ApiException {

        okhttp3.Call localVarCall = getProductInfoValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<ProductInfo>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getReportingScheduleById
     * @param reportId The ID of the report schedule. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingScheduleByIdCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/schedule/{reportId}"
            .replaceAll("\\{" + "reportId" + "\\}", localVarApiClient.escapeString(reportId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getReportingScheduleByIdValidateBeforeCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportId' is set
        if (reportId == null) {
            throw new ApiException("Missing the required parameter 'reportId' when calling getReportingScheduleById(Async)");
        }
        

        okhttp3.Call localVarCall = getReportingScheduleByIdCall(reportId, _callback);
        return localVarCall;

    }

    /**
     * Returns a report schedule by ID.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @return ReportingSchedule
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ReportingSchedule getReportingScheduleById(Integer reportId) throws ApiException {
        ApiResponse<ReportingSchedule> localVarResp = getReportingScheduleByIdWithHttpInfo(reportId);
        return localVarResp.getData();
    }

    /**
     * Returns a report schedule by ID.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @return ApiResponse&lt;ReportingSchedule&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ReportingSchedule> getReportingScheduleByIdWithHttpInfo(Integer reportId) throws ApiException {
        okhttp3.Call localVarCall = getReportingScheduleByIdValidateBeforeCall(reportId, null);
        Type localVarReturnType = new TypeToken<ReportingSchedule>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Returns a report schedule by ID. (asynchronously)
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingScheduleByIdAsync(Integer reportId, final ApiCallback<ReportingSchedule> _callback) throws ApiException {

        okhttp3.Call localVarCall = getReportingScheduleByIdValidateBeforeCall(reportId, _callback);
        Type localVarReturnType = new TypeToken<ReportingSchedule>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getReportingScheduleTags
     * @param reportId The ID of the report schedule. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Ok </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingScheduleTagsCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/schedule/{reportId}/tags"
            .replaceAll("\\{" + "reportId" + "\\}", localVarApiClient.escapeString(reportId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getReportingScheduleTagsValidateBeforeCall(Integer reportId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'reportId' is set
        if (reportId == null) {
            throw new ApiException("Missing the required parameter 'reportId' when calling getReportingScheduleTags(Async)");
        }
        

        okhttp3.Call localVarCall = getReportingScheduleTagsCall(reportId, _callback);
        return localVarCall;

    }

    /**
     * Get tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @return TagsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Ok </td><td>  -  </td></tr>
     </table>
     */
    public TagsResponse getReportingScheduleTags(Integer reportId) throws ApiException {
        ApiResponse<TagsResponse> localVarResp = getReportingScheduleTagsWithHttpInfo(reportId);
        return localVarResp.getData();
    }

    /**
     * Get tags for a report schedule.
     * 
     * @param reportId The ID of the report schedule. (required)
     * @return ApiResponse&lt;TagsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Ok </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TagsResponse> getReportingScheduleTagsWithHttpInfo(Integer reportId) throws ApiException {
        okhttp3.Call localVarCall = getReportingScheduleTagsValidateBeforeCall(reportId, null);
        Type localVarReturnType = new TypeToken<TagsResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get tags for a report schedule. (asynchronously)
     * 
     * @param reportId The ID of the report schedule. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Ok </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingScheduleTagsAsync(Integer reportId, final ApiCallback<TagsResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getReportingScheduleTagsValidateBeforeCall(reportId, _callback);
        Type localVarReturnType = new TypeToken<TagsResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getReportingSchedules
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100. (optional, default to 100)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingSchedulesCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/schedule";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getReportingSchedulesValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getReportingSchedulesCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * List all report schedules.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100. (optional, default to 100)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ListReportingScheduleResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ListReportingScheduleResponse getReportingSchedules(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<ListReportingScheduleResponse> localVarResp = getReportingSchedulesWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * List all report schedules.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100. (optional, default to 100)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ApiResponse&lt;ListReportingScheduleResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListReportingScheduleResponse> getReportingSchedulesWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getReportingSchedulesValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<ListReportingScheduleResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List all report schedules. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100. (optional, default to 100)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReportingSchedulesAsync(Integer limit, String cursor, String sort, final ApiCallback<ListReportingScheduleResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getReportingSchedulesValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<ListReportingScheduleResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getVirtualizationStorageSummaryReport
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of storage summary data of virtualization engines. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getVirtualizationStorageSummaryReportCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/reporting/virtualization-storage-summary-report";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (cursor != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("cursor", cursor));
        }

        if (sort != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json", "text/csv"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getVirtualizationStorageSummaryReportValidateBeforeCall(Integer limit, String cursor, String sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getVirtualizationStorageSummaryReportCall(limit, cursor, sort, _callback);
        return localVarCall;

    }

    /**
     * Gets the storage summary report for virtualization engines.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return VirtualizationStorageSummaryReportResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of storage summary data of virtualization engines. </td><td>  -  </td></tr>
     </table>
     */
    public VirtualizationStorageSummaryReportResponse getVirtualizationStorageSummaryReport(Integer limit, String cursor, String sort) throws ApiException {
        ApiResponse<VirtualizationStorageSummaryReportResponse> localVarResp = getVirtualizationStorageSummaryReportWithHttpInfo(limit, cursor, sort);
        return localVarResp.getData();
    }

    /**
     * Gets the storage summary report for virtualization engines.
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @return ApiResponse&lt;VirtualizationStorageSummaryReportResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of storage summary data of virtualization engines. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<VirtualizationStorageSummaryReportResponse> getVirtualizationStorageSummaryReportWithHttpInfo(Integer limit, String cursor, String sort) throws ApiException {
        okhttp3.Call localVarCall = getVirtualizationStorageSummaryReportValidateBeforeCall(limit, cursor, sort, null);
        Type localVarReturnType = new TypeToken<VirtualizationStorageSummaryReportResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets the storage summary report for virtualization engines. (asynchronously)
     * 
     * @param limit Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 10000. (optional, default to 10000)
     * @param cursor Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints. (optional)
     * @param sort The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns a list of storage summary data of virtualization engines. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getVirtualizationStorageSummaryReportAsync(Integer limit, String cursor, String sort, final ApiCallback<VirtualizationStorageSummaryReportResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = getVirtualizationStorageSummaryReportValidateBeforeCall(limit, cursor, sort, _callback);
        Type localVarReturnType = new TypeToken<VirtualizationStorageSummaryReportResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
[...]
